<% @users = User.all %>
<div id="header" class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
	  <%= link_to "Mike's Blog", @users[0], id: "logo" %>
	  <nav>
	    <ul class="nav pull-right">  
	      <li><%= link_to "Home", root_path %></li>
		  <li><%= link_to "View My Blog", @users[0] %></li>
		<% if signed_in? %>
		  <li><%= link_to "Sign out", signout_path, method: "delete"%>
		<% else %>
		  <li><%= link_to "Sign in", signin_path %>
		  <% if @users.count < 1 %>
		  <li><%= link_to "Sign up", signup_path %></li>
		  <% end %>
		<% end %>
        </ul>	
	  </nav>
    </div>
  </div>
</div>